---
const logoWarmi = "/src/assets/warmi-logo.png";
const telIcon = "/src/assets/tel.png";
const correoIcon = "/src/assets/gmail.png";
const linkedinIcon = "/src/assets/linkedin.png";
const intgIcon = "/src/assets/ig.png";
const fbIcon = "/src/assets/facebook.png";
---

<section class="footer">
  <div class="logo-footer">
    <img src={logoWarmi} alt="logo-warmi" />
  </div>
  <div class="contact-footer">
    <h3 class="titles-footer">Contáctanos</h3>
    <div class="contact-tel">
      <div class="container-img-contact-tel">
        <img src={telIcon} alt="tel" class="size-img" />
      </div>
      <p>981325954</p>
    </div>
    <div class="contact-correo">
      <div class="container-img-contact">
        <img src={correoIcon} alt="correo" class="size-img" />
      </div>
      <a href="mailto:warmiventures@gmail.com">warmiventure@gmail.com</a>
    </div>
  </div>
  <div class="social-media">
    <h3 class="titles-footer">Síguenos</h3>
    <div class="group-social-media">
      <div class="container-icon-sm">
        <img src={linkedinIcon} alt="Linkedin" class="icon-social-media" />
      </div>
      <a href="#">Linkedin</a>
    </div>
    <div class="group-social-media">
      <div class="container-icon-sm">
        <img src={intgIcon} alt="Instagram" class="icon-social-media" />
      </div>
      <a href="#">Instagram</a>
    </div>
    <div class="group-social-media">
      <div class="container-icon-sm">
        <img src={fbIcon} alt="Facebook" class="icon-social-media" />
      </div>
      <a href="#">Facebook</a>
    </div>
  </div>
  <div class="newsletter">
    <h3 class="titles-footer title-input">Sé la primera en enterarte</h3>
    <h3 class="titles-footer">nuestras noticias</h3>
    <p>Ingresa tu correo electrónico</p>
    <form>
      <input
        type="text"
        id="input-newslater"
        placeholder="ejemplo@gmail.com"
        class="input-newsletter"
      />
      <button type="submit" class="btn-newsletter">Enviar</button>
    </form>
  </div>
</section>

<style>
  .footer {
    background: linear-gradient(
      90deg,
      rgba(208, 75, 196, 1) 0%,
      rgba(74, 50, 136, 1) 100%
    );

    display: flex;
    justify-content: space-between;
    padding: 90px;
    align-items: flex-start;
  }

  .logo-footer img {
    width: 100%;
  }

  .contact-footer {
    color: #fff;
  }

  .titles-footer {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    padding-bottom: 15px;
  }

  .title-input {
    padding: 0px;
  }

  .contact-tel,
  .contact-correo,
  .group-social-media {
    display: flex;
    gap: 15px;
    color: #fff;
    padding: 10px;
    align-items: center;
  }

  .container-img-contact-tel {
    width: 15px;
  }

  .size-img {
    width: 100%;
  }

  .icon-social-media {
    width: 100%;
  }
  .container-icon-sm {
    width: 30px;
  }

  .newsletter {
    color: #fff;
  }

  .input-newsletter {
    margin-top: 10px;
    padding: 8px;
    width: 250px;
    outline: none;
    color: rgb(44, 43, 43);
  }

  .input-newsletter::placeholder {
    font-style: italic;
    color: rgb(169, 164, 164);
  }

  .btn-newsletter {
    background-color: #01fabe;
    color: #232039;
    width: 100px;
    padding: 8px;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #232039;
    box-shadow: 10px 10px 0px #232039;
    transitionn: all 0.3s ease;
    cursor: pointer;
  }

  .btn-newsletter:hover {
    border: 2px solid #232039;
    box-shadow: 5px 5px 0px #232039;
  }

  .btn-newsletter:active {
    box-shadow: none;
    transform: translateY(4px);
  }
</style>
